@import url("https://fonts.googleapis.com/css2?family=Monofett&family=Sora:wght@100&display=swap");
.filmer__card {
  width: 20vw;
  height: 40vh;
  border: 1px solid black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}
