/* Error: Undefined mixin.
 *    ,
 * 21 | /     @include breakpointMin($medium) {
 * 22 | |       display: flex;
 * 23 | \     }
 *    '
 *   src\header.scss 21:5  @import
 *   src\main.scss 13:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 21 \2502  \250c      @include breakpointMin($medium) {\a 22 \2502  \2502        display: flex;\a 23 \2502  \2514      }\a    \2575 \a   src\\header.scss 21:5  @import\a   src\\main.scss 13:9    root stylesheet";
}
