<!doctype html>
<html class="html">
    <!-- This class need to be added to disable overflow when hamburger menu is open -->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Template for Header and Footer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" media="screen" href="../main.css" />
        <script src="../menu.js" defer></script>
        <!-- This script src need to be added for the hamburger menu to function -->
    </head>
    <body>
        <header class="header">
            <div class="header__container">
                <img src="../assets/headerLogo.png" alt="Header Logo" class="header__logo" />
                <nav class="header__topNavigation">
                    <a href="#" class="header__link">Filmer</a>
                    <a href="#" class="header__link">Om oss</a>
                    <a href="#" class="header__link">Nyheter</a>
                </nav>
                <img src="../assets/hamburgerButtonOpen.png" class="header__hamburgerButtonOpen" />
            </div>
            <nav class="header__hamburgerMenuContainer">
                <div class="header__hamburgerMenu">
                    <a href="#" class="header__hamburgerLink">Filmer</a>
                    <a href="#" class="header__hamburgerLink">Om oss</a>
                    <a href="#" class="header__hamburgerLink">Nyheter</a>
                    <img
                        src="../assets/hamburgerButtonClose.png"
                        class="header__hamburgerCloseButton"
                        alt="Hamburger menu close button"
                    />
                </div>
            </nav>
        </header>
    </body>
</html>
