<!doctype html>
<html class="html">
    <!-- This class need to be added to disable overflow when hamburger menu is open -->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>movie-card template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" media="screen" href="../main.css" />
        <script src="../menu.js" defer></script>
        <!-- This script src need to be added for the hamburger menu to function -->
    </head>
    <body>
        <template id="movie-card-template">
            <div class="movie-card">
                <img class="movie-card__poster" src="" alt="Movie Poster" />
                <h2 class="movie-card__title"></h2>
                <span class="movie-card__rating"></span>
                <div class="movie-card__details">
                    <p class="movie-card__info--director"></p>
                    <p class="movie-card__info--release-year"></p>
                    <p class="movie-card__info--genre"></p>
                    <p class="movie-card__info--actors"></p>
                    <p class="movie-card__info--description"></p>
                    <p class="movie-card__info--kid"></p>
                    <p class="movie-card__info--new"></p>
                    <p class="movie-card__info--premiere"></p>
                </div>
            </div>
        </template>
    </body>
</html>
