<template id="movieCardTemplate">
  <div class="movie-card">
    <img clas="movie-poster" src="" alt="Movie Poster" />
    <h2 class="movie-title"></h2>
    <div class="movie-details">
      <p><strong>Director:</strong><span class="movie-director"></span></p>
      <p><strong>Release Year:></strong><span class="movie-release-year"></span></p>
      <p><strong>Genre:</strong><span class="movie-genre"></span></p>
      <p><strong>Actor:</strong><span class="movie-actors"></span></p>
      <p><strong>Description:</strong><span class="movie-description"></span></p>
      <p><strong>Kid-Friendly:</strong><span class="movie-kid"></span></p>
      <p><strong>Rating:</strong><span class="movie-rating"></span></p>
      <p><strong></strong><span class="movie-new"></span></p>
      <p><strong>Premiere Date:</strong><span class="movie-premiere"></span></p>
    </div>
  </div>
</template>
