@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

.html {
  overflow-x: hidden;
  &.html--overflowHidden {
    overflow: hidden;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;700&display=swap");
@import "header";
@import "ourHistory";
@import "footer";
@import "ourSponsors";
@import "filmer";
@import "newsEvents.scss";
