$small: 480px;
$medium: 750px;
$large: 998px;
$extraLarge: 1200px;

$colorOne: #333333;
$colorTwo: #404040;
$colorThree: #800020;
$colorFour: #7c7773;
$colorFive: #ffffff;

@import url("https://fonts.googleapis.com/css2?family=Monofett&family=Sora:wght@100&display=swap");
@import "header";
@import "filmer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

@mixin breakpointMin($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin breakpointMax($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

.html {
  overflow-x: hidden;
  &.html--overflowHidden {
    overflow: hidden;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;700&display=swap");
@import "header";
@import "footer";
